WcfPwc/Web References/SeecWebReference/wsReply.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dataFromWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="branch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="phase" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataFromWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataFromWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertToWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="manual" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="standard" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="activity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="branch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="department" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="owner" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="phase" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="reached" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="notReached" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="notApplicable" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="certificationLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recommend" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createdDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="stdType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertToWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertToWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="openExecuteFromLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="openExecuteFromLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="openExecuteFromLocalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkDBConnection">
        <s:complexType />
      </s:element>
      <s:element name="checkDBConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkDBConnectionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="phaseFromWeb">
        <s:complexType />
      </s:element>
      <s:element name="phaseFromWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phaseFromWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="distFromWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ronda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="distFromWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="distFromWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataIndFromWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="branch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="phase" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataIndFromWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataIndFromWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertIndToWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="branch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="phase" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tMonth" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isvr1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="iscr1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="isvr2" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="iscr2" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="isvr3" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="iscr3" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertIndToWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertIndToWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dataFromWebSoapIn">
    <wsdl:part name="parameters" element="tns:dataFromWeb" />
  </wsdl:message>
  <wsdl:message name="dataFromWebSoapOut">
    <wsdl:part name="parameters" element="tns:dataFromWebResponse" />
  </wsdl:message>
  <wsdl:message name="insertToWebSoapIn">
    <wsdl:part name="parameters" element="tns:insertToWeb" />
  </wsdl:message>
  <wsdl:message name="insertToWebSoapOut">
    <wsdl:part name="parameters" element="tns:insertToWebResponse" />
  </wsdl:message>
  <wsdl:message name="openExecuteFromLocalSoapIn">
    <wsdl:part name="parameters" element="tns:openExecuteFromLocal" />
  </wsdl:message>
  <wsdl:message name="openExecuteFromLocalSoapOut">
    <wsdl:part name="parameters" element="tns:openExecuteFromLocalResponse" />
  </wsdl:message>
  <wsdl:message name="checkDBConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:checkDBConnection" />
  </wsdl:message>
  <wsdl:message name="checkDBConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:checkDBConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="phaseFromWebSoapIn">
    <wsdl:part name="parameters" element="tns:phaseFromWeb" />
  </wsdl:message>
  <wsdl:message name="phaseFromWebSoapOut">
    <wsdl:part name="parameters" element="tns:phaseFromWebResponse" />
  </wsdl:message>
  <wsdl:message name="distFromWebSoapIn">
    <wsdl:part name="parameters" element="tns:distFromWeb" />
  </wsdl:message>
  <wsdl:message name="distFromWebSoapOut">
    <wsdl:part name="parameters" element="tns:distFromWebResponse" />
  </wsdl:message>
  <wsdl:message name="dataIndFromWebSoapIn">
    <wsdl:part name="parameters" element="tns:dataIndFromWeb" />
  </wsdl:message>
  <wsdl:message name="dataIndFromWebSoapOut">
    <wsdl:part name="parameters" element="tns:dataIndFromWebResponse" />
  </wsdl:message>
  <wsdl:message name="insertIndToWebSoapIn">
    <wsdl:part name="parameters" element="tns:insertIndToWeb" />
  </wsdl:message>
  <wsdl:message name="insertIndToWebSoapOut">
    <wsdl:part name="parameters" element="tns:insertIndToWebResponse" />
  </wsdl:message>
  <wsdl:portType name="wsReplySoap">
    <wsdl:operation name="dataFromWeb">
      <wsdl:input message="tns:dataFromWebSoapIn" />
      <wsdl:output message="tns:dataFromWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertToWeb">
      <wsdl:input message="tns:insertToWebSoapIn" />
      <wsdl:output message="tns:insertToWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="openExecuteFromLocal">
      <wsdl:input message="tns:openExecuteFromLocalSoapIn" />
      <wsdl:output message="tns:openExecuteFromLocalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkDBConnection">
      <wsdl:input message="tns:checkDBConnectionSoapIn" />
      <wsdl:output message="tns:checkDBConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="phaseFromWeb">
      <wsdl:input message="tns:phaseFromWebSoapIn" />
      <wsdl:output message="tns:phaseFromWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="distFromWeb">
      <wsdl:input message="tns:distFromWebSoapIn" />
      <wsdl:output message="tns:distFromWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dataIndFromWeb">
      <wsdl:input message="tns:dataIndFromWebSoapIn" />
      <wsdl:output message="tns:dataIndFromWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertIndToWeb">
      <wsdl:input message="tns:insertIndToWebSoapIn" />
      <wsdl:output message="tns:insertIndToWebSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsReplySoap" type="tns:wsReplySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dataFromWeb">
      <soap:operation soapAction="http://tempuri.org/dataFromWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertToWeb">
      <soap:operation soapAction="http://tempuri.org/insertToWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openExecuteFromLocal">
      <soap:operation soapAction="http://tempuri.org/openExecuteFromLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDBConnection">
      <soap:operation soapAction="http://tempuri.org/checkDBConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="phaseFromWeb">
      <soap:operation soapAction="http://tempuri.org/phaseFromWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distFromWeb">
      <soap:operation soapAction="http://tempuri.org/distFromWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataIndFromWeb">
      <soap:operation soapAction="http://tempuri.org/dataIndFromWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertIndToWeb">
      <soap:operation soapAction="http://tempuri.org/insertIndToWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReplySoap12" type="tns:wsReplySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dataFromWeb">
      <soap12:operation soapAction="http://tempuri.org/dataFromWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertToWeb">
      <soap12:operation soapAction="http://tempuri.org/insertToWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openExecuteFromLocal">
      <soap12:operation soapAction="http://tempuri.org/openExecuteFromLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDBConnection">
      <soap12:operation soapAction="http://tempuri.org/checkDBConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="phaseFromWeb">
      <soap12:operation soapAction="http://tempuri.org/phaseFromWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distFromWeb">
      <soap12:operation soapAction="http://tempuri.org/distFromWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataIndFromWeb">
      <soap12:operation soapAction="http://tempuri.org/dataIndFromWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertIndToWeb">
      <soap12:operation soapAction="http://tempuri.org/insertIndToWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReply">
    <wsdl:port name="wsReplySoap" binding="tns:wsReplySoap">
      <soap:address location="http://201.175.46.102/wsNissan/wsReply.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReplySoap12" binding="tns:wsReplySoap12">
      <soap12:address location="http://201.175.46.102/wsNissan/wsReply.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>